POSTGRES_HOST=100.11.333.51
POSTGRES_PORT=12345
POSTGRES_DATABASE=Mapdata
POSTGRES_USER=user
POSTGRES_PASSWORD=password123
RECAPTCHA_SITEKEY=1a2r5f9y3whiol899f1j2e5tpz93qwWJM5CS68ul
GEOSERVER_URL=http://111.11.111.11/geoserver/wms
